.machine-line {
    display: flex;
    align-items: center;
}

.connector {
    width: 50px;
    height: 2px;
    background-color: green;
    margin: 0 16px;
    position: relative;
    left: 74px;
    bottom: 42px;
}

.status-icon {
    font-size: 18px;
}